@model DemoMvc.Models.EmployeeViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Employee</h2>

<div>
    <table class="table">
        <tr>
            <th>EmployeeId</th>
            <th>Name</th>
            <th>EmployeeCode</th>
        </tr>

        @foreach (var item in Model.Name)
        {

            <tr>
                <td>@item</td>
            </tr>

        }

    </table>

</div>



